/* dashboard.css */

.dashboardcnt {
  display: flex;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  /* justify-content: center; */
  align-items:flex-start ;
  flex-direction: column;
  /* align-content: center; */
  /* flex-direction: column; */
}

.scrollable-container {
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 1px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollable-container:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
  .header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    width: 100vw;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .container {
    background-color: #601818;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 20px;
  }
  
  .info-container {
    display: flex;
    margin-top: 20px;
    padding:20px;
    flex-direction: row;
    /* background-color: #601818; */
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width:fit-content ;
    

  }
  .infolabel {
    margin-bottom: 5px;
    margin-top: 5px;

  }
  .value {
    margin-bottom: 5px;
    margin-top: 5px;

  }
  

  .info-box {
    width: 80%; /* Full width for mobile view */
    margin-bottom: 20px; /* Add some spacing between boxes */
    box-sizing: border-box;
    border: 2px solid #9B9B9B;
    background-color: #fff;
    border-radius: 4px;
    height: 100%;
    overflow: scroll;
margin: 20px;

    padding: 15px; /* Adjust padding for better mobile layout */
  }
  .info-box {
    width: 80%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100%;
    overflow: hidden; /* Enable scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
  }
    /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
   
/*   
  .info-box {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    max-width: 80vw; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   */
  
  .info-box h3 {
    margin-bottom: 10px;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .info-box {
      width: 100%; /* Full width for mobile view */
    min-width:fit-content ;

    }
    .info-container{
      flex-direction: column;
    margin-top: 1px;
    min-width:fit-content ;


    }
    

  }
  